<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:fragment="header">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="link-secondary" href="#">Subscribe</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" th:href="@{/}">오.운.완</a>
            </div>
            <!--            로그인 전-->
            <th:block th:if="${session.id == null}">
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" th:href="@{/account/login}">로그인</a>
                    <a class="btn btn-sm btn-outline-secondary" th:href="@{/account/register}">회원가입</a>
                </div>
            </th:block>
            <!--            로그인 후(관리자)-->
            <th:block th:if="${session.admin == 1}">
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" th:href="@{/admin/main}" th:text="${session.userid}">관리자</a>
                    <a class="btn btn-sm btn-outline-secondary" href="#" th:href="@{/account/logout}">로그아웃</a>
                </div>
            </th:block>
            <!--            로그인 후(일반회원)-->
            <th:block th:if="${session.id != null}">
                <div class="col-4 d-flex justify-content-end align-items-center" th:if="${session.admin != 1}">
                    <a class="btn btn-sm btn-outline-secondary" th:href="@{/user/main}" th:text="${session.userid}">유저</a>
                    <a class="btn btn-sm btn-outline-secondary" th:href="@{/account/logout}">로그아웃</a>
                </div>
            </th:block>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 link-secondary" th:href="@{/notice/list}">공지사항</a>
            <a class="p-2 link-secondary" th:href="@{/chestboard/list}">가슴</a>
            <a class="p-2 link-secondary" th:href="@{/backboard/list}">등</a>
            <a class="p-2 link-secondary" th:href="@{/legboard/list}">하체</a>
            <a class="p-2 link-secondary" th:href="@{/armboard/list}">팔</a>
            <a class="p-2 link-secondary" th:href="@{/shoulderboard/list}">어깨</a>
            <a class="p-2 link-secondary" th:href="@{/streetboard/list}">맨몸</a>
            <a class="p-2 link-secondary" th:href="@{/freeboard/list}">자유게시판</a>
        </nav>
    </div>
</div>
</body>
</html>